.body
  .header
    .header-top
      = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3466462615", class: 'image'), '#'
    .header-bottom
      .header-list
        .text
          会員情報
        .icon
          ●
      .header-list
        .text
          電話番号認証
        .icon
          ●
      .header-list
        .text-active
          お届け先住所入力
        .icon-active
          ●
      .header-list
        .text
          お支払い方法
        .icon
          ●
      .header-list
        .text
          完了
        .icon
          ●
          
  .new-session-main
    .new-session-main__top
      お届け先住所入力
    .new-session-main__body
      .form
        .field
          %label.top-text お名前
          %span.top-red-text 必須
          %br/
          %input{name: "name-farst-kanzi",placeholder: '例）山田', size: "40", class: 'textarea'}
          %input{name: "name-last-kanzi",placeholder: '例）彩', size: "40", class: 'textarea'}
        .field
          %label.top-text お名前カナ
          %span.top-red-text 必須
          %br/
          %input{name: "first-kana",placeholder: '例）ヤマダ', size: "40", class: 'textarea'}
          %input{name: "last-kana",placeholder: '例）アヤ', size: "40", class: 'textarea'}
        .field
          %label.top-text 郵便番号
          %span.top-red-text 必須
          %br/
          %input{name: "password",placeholder: '例）123-4567', size: "40", class: 'textarea'}
        .field
          %label.top-text 都道府県
          %span.top-red-text 必須
          %br/
          .prefectures-selecter
            -# = fa_icon 'chevron-down', class: 'icon-bottom'
            %select.select-prefecture{name: "prefecture"}
              %option{value: "北海道"} 北海道
              %option{value: "青森県"} 青森県
              %option{value: "岩手県"} 岩手県
              %option{value: "宮城県"} 宮城県
              %option{value: "秋田県"} 秋田県
              %option{value: "山形県"} 山形県
              %option{value: "福島県"} 福島県
              %option{value: "茨城県"} 茨城県
              %option{value: "栃木県"} 栃木県
              %option{value: "群馬県"} 群馬県
              %option{value: "埼玉県"} 埼玉県
              %option{value: "千葉県"} 千葉県
              %option{value: "東京都"} 東京都
              %option{value: "神奈川県"} 神奈川県
              %option{value: "新潟県"} 新潟県
              %option{value: "富山県"} 富山県
              %option{value: "石川県"} 石川県
              %option{value: "福井県"} 福井県
              %option{value: "山梨県"} 山梨県
              %option{value: "長野県"} 長野県
              %option{value: "岐阜県"} 岐阜県
              %option{value: "静岡県"} 静岡県
              %option{value: "愛知県"} 愛知県
              %option{value: "三重県"} 三重県
              %option{value: "滋賀県"} 滋賀県
              %option{value: "京都府"} 京都府
              %option{value: "大阪府"} 大阪府
              %option{value: "兵庫県"} 兵庫県
              %option{value: "奈良県"} 奈良県
              %option{value: "和歌山県"} 和歌山県
              %option{value: "鳥取県"} 鳥取県
              %option{value: "島根県"} 島根県
              %option{value: "岡山県"} 岡山県
              %option{value: "広島県"} 広島県
              %option{value: "山口県"} 山口県
              %option{value: "徳島県"} 徳島県
              %option{value: "香川県"} 香川県
              %option{value: "愛媛県"} 愛媛県
              %option{value: "高知県"} 高知県
              %option{value: "福岡県"} 福岡県
              %option{value: "佐賀県"} 佐賀県
              %option{value: "長崎県"} 長崎県
              %option{value: "熊本県"} 熊本県
              %option{value: "大分県"} 大分県
              %option{value: "宮崎県"} 宮崎県
              %option{value: "鹿児島県"} 鹿児島県
              %option{value: "沖縄県"} 沖縄県
              %option{value: "未定"} 未定
          
        .field
          %label.top-text 市区町村
          %span.top-red-text 必須
          %br/
          %input{name: "password",placeholder: '例）横浜市緑区', size: "40", class: 'textarea'}
        .field
          %label.top-text 番地
          %span.top-red-text 必須
          %br/
          %input{name: "password",placeholder: '例）青山1-1-1', size: "40", class: 'textarea'}
        .field
          %label.top-text 建物名
          %span.top-gray-text 任意
          %br/
          %input{name: "password",placeholder: '例）柳ビル103', size: "40", class: 'textarea'}
        .field
          %label.top-text 電話
          %span.top-gary-text 任意
          %br/
          %input{name: "password",placeholder: '例）09012345678', size: "40", class: 'textarea'}
        .field
          %input.form-submit{type: 'submit', value: '次に進む'}

  = render 'footer'