.footer{
  width: 460px;
  height: 250px;
  margin: 0 auto;
  z-index: 1;
  padding-top: 40px;
  text-align: center;
  
  .clearfix{
    display: inline-block;
    font-size: 8px;
    color: black;
    text-decoration: none;

    .footer-text{
      text-decoration: none;
    }
  }
  .footer-logo{
    padding-top: 40px;
    height: 65px;
    width: 80px;
    margin: 0 auto;
  }
  .footer-last-text{
    padding-top: 10px;
    font-size: 8px;
  }
}