body {
  position: relative;
  min-height: 100%;
  color: rgb(51, 51, 51);
  background-color: rgb(245, 245, 245);
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
}
div figure{
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font: inherit;
}
figure{
  display: block;
}
.wrapper {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
img {
  vertical-align: middle;
}
a {
  color: inherit;
  text-decoration: none;
}
ul{
  display: inline-block;
}
.mercari__head{
  width: 700px;
  margin: 0px auto;
  padding: 8px 0px 0px;
  &__top{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  &__logo{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 40px;
    margin-right: 45px;
    &-image{
      align-items: center;
    }
  }
}
.search__form{
  position: relative;
  width: 100%;
  height: 40px;
  &__input{
    background-color: rgb(245, 245, 245);
    font-size: 16px;
    height: 40px;
    line-height: 1.4em;
    position: relative;
    width: 100%;
    -webkit-appearance: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 4px;
    outline: none;
    padding: 0px 50px 0px 10px;
    transition: all 0.3s ease-out 0s;
  }
}
.search-button{
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  -webkit-appearance: none;
  // border-width: initial;
  border-style: none;
  // border-color: initial;
  // border-image: initial;
  border-radius: 0px 4px 4px 0px;
  padding: 0px;
}

.mercari__head__bottom{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 8px;
    &__categorys{
      display: flex;
      margin-left: -3px;
    }
    &__category{
      cursor: pointer;
      height: 44px;
      position: relative;
      z-index: 3;
      padding: 0px 10px;
    }
    &__brand{
      cursor: pointer;
      height: 44px;
      position: relative;
      z-index: 3;
      padding: 0px 10px;
    }
}
.mercari__category{
  font-size: 16px;
  line-height: 36px;
  // display: block;
  // font-weight: 600;
}
.mercari__brand{
  font-size: 16px;
  line-height: 36px;
}

.mercari__head__bottom{
  &__register{
  position: relative;
  display: flex;
  }
  &__new{
    text-align: center;
  }
  &__signup{
    background-color: red;
    color: white;
    display: block;
    border-style: solid;
    border-radius: 6px;
    font-size: 13px;
    padding: 6px 10px;
    border-width: 1px;
    transition: all 0.3s ease-out 0s;
    box-sizing: border-box;
  }
  &__log{
    text-align: center;
    margin-left: 11px;
  }
  &__in{
    background-color: white;
    color:rgb(0, 149, 238);
    display: block;
    border-style: solid;
    border-color: rgb(0, 149, 238);
    border-radius: 6px;
    font-size: 13px;
    padding: 6px 10px;
    border-width: 1px;
    transition: all 0.3s ease-out 0s;
    box-sizing: border-box;
  }
  &__in:hover{
    color:white;
    background-color:rgb(0, 149, 238);
  }
}
.main__container{
  max-width: 700px;
  padding: 0px;
  width: 100%;
  margin: 0px auto;
  &__sliders{
    position: relative;
  }
  &__slider{
    height: 290px;
    left: 50%;
    margin-left: -50vw;
    position: relative;
    top: 0px;
    width: 100vw;
    overflow: hidden;
    background-color: beige; 
    &__image{
      background: image-url("mercari_top_1.png")center center no-repeat;
      position: relative;
      background-size: contain;
      height: 100%;
      box-sizing: border-box;
      max-width: 700px;
      padding: 0px;
      width: 100%;
      margin: 0px auto;
    }
  }
}

.style__heading{
  font-size: 28px;
  text-align: center;
}

.element.style {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  visibility: visible;
  transition: all 0.5s ease 0s;
  opacity: 1;
}
.eoeUvk {
    background-color: transparent;
    cursor: pointer;
    height: 46px;
    width: 31px;
    -webkit-appearance: none;
    background-image: url(https://web-jp-assets.mercdn.net/_next/static/images/carousel-prev-af7ca88….png);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px;
}
.cwGzbB {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  width: 31px;
  -webkit-appearance: none;
  background-image: url(https://web-jp-assets.mercdn.net/_next/static/images/carousel-next-bc3a143….png);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0px;
}

.popular__categorys, .popular__brands{
  background-color: rgb(255, 255, 255);
  left: 50%;
  margin-left: -50vw;
  position: relative;
  top: 0px;
  width: 100vw;
  padding: 40px 20px 20px;
  padding: 56px 0px 30px;
}

.popular__category, .popular__brand{
  margin-bottom: 16px;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.4em;
  &__lists{
    display: block;
    text-align: center;
    width: 100%;
    margin: -10px 0px 0px -10px;
    overflow-x: auto;
    white-space: nowrap;
  }
  &__list{
    display: inline-block;
    margin: 10px 0px 0px 10px;
  }
}
.category {
  background-color: rgb(239, 239, 239);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  padding: 8px 16px;
}

.new__product{
  padding: 42px 0px 100px;
  
}

.ladies, .mans, .chanel, .LouisVuitton{
  &__new{
  margin-bottom: 16px;
  align-items: flex-end;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  }
  &__item{
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    align-content: space-around;
    height: 100%;
  }
  &__items{
    
    box-orient:horizontal;
  }
}

.product{
  display: flex;
  position: relative;
  height: 50%;
  width: 30%;
  border: solid;
  border-width: 1px;
  cursor: pointer;
  margin: 0 0 5px 5px;
}
.product:before{
  content: "";
  display: block;
  padding-top: 100%;
}
.style_link{
  display: flex;
  position: relative;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
.style_link img {
  display: flex;
  width: 100%;
  height: 80%;
  position: absolute;
  top:0;
  left: 0;
}
.name{
  display: flex;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 13px;
  overflow:scroll;
}
.name:before{
  content: "";
  display: block;
  padding-bottom: 0%;
  
}
.price{
  position: absolute;
  bottom: 25%;
  left: 0;
  padding: 3px 3px;
  height: 10%;
  width: 40%;
  font-size: 20px;
  background-color: gainsboro;
  border: solid;
  border-width: 1px;
  border-color: gainsboro;
  border-radius: 10px;
}
.price:before{
  content: "";
  display: block;
  padding-top:0%;
}

.style_heading{
  flex: 1 1 0%;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}
.more_view{
  color: rgb(0, 149, 238);
  display: block;
  font-size: 12px;
  font-weight: 600;
  position: relative;
  padding: 5px 14px 5px 5px;
}

.mans, .LouisVuitton{
  margin-top: 60px;
  &__new{
  margin-bottom: 16px;
  align-items: flex-end;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  }
}

.copyright{
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;
}
footer{
  display: inline-block;
}
.eIroOj {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;
}
.jEIztn {
  width: 700px;
  margin: 0px auto;
}
.bZYlel {
  width: 700px;
  margin: 55px auto 10px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  margin-top: 55px;
}
.fcQzqW {
  text-align: center;
}
.fdphvP {
  padding-left: 15px;
  width: 75%;
  text-align: center;
}
.fWNMlS:first-child {
  padding-left: 0px;
}
.fWNMlS {
  display: inline-block;
  margin-top: 18px;
  vertical-align: top;
  width: 47%;
  padding: 0px 10px;
}
.kWagRH {
  font-size: 16px;
}
.style_heading__3qSF6 {
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}
.deTNXB {
  line-height: 1.4em;
  margin: 16px 0px 0px;
}
.lhBUUv {
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.gdPTKQ {
  display: inline-block;
  margin-top: 30px;
}
.eCFuzj {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  width: 30px;
  margin-right: 20px;
}
.kXgLaj {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  width: 26px;
}
.kWagRH {
  font-size: 16px;
}
.style_heading__3qSF6 {
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}
.jkJraH {
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  width: 100%;
  padding: 0px;
}
.dqgEsZ:first-of-type {
  padding: 0px 10px 0px 0px;
}
.dqgEsZ {
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
  width: 48%;
}
.bLlPss {
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  width: 100%;
  padding: 0px;
}

.advertising {
  color: rgb(255, 255, 255);
  background: image-url("bg.jpg") center center / cover;
  background-position: center center;
  margin-top: auto;
}
.enyJcH {
  background: url(https://web-jp-assets.mercdn.net/_next/static/images/download_app_bg-b57d6f1….jpg) center center / cover;
  background-position: center center;
}
.bcomWS {
  background: url(https://web-jp-assets.mercdn.net/_next/static/images/download_app_bg-b57d6f1….jpg) center center / cover;
  background-position: center center;
}
.gcWQbR {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 800px;
  margin: 0px auto;
}
.fmTzct {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}
.hjdsEZ {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
.ihRzkY {
  color: rgb(255, 255, 255);
  font-size: 35px;
  margin-bottom: 20px;
}
.kwTqFs {
  height: 68px;
  margin-right: 5px;
  width: 68px;
  display: inline-block;
}
.couthQ {
  height: 40px;
  margin-right: 8px;
  width: 144px;
  display: inline-block;
}
.iBGblK {
  height: 40px;
  width: 144px;
  display: inline-block;
}
.iQCbun {
  height: 260px;
  width: 300px;
}

.display {
  font-size: 22px;
  height: 160px;
  width: 160px;
  position: fixed;
  right: 32px;
  bottom: 32px;
  text-align: center;
  z-index: 2;
}
.cEMgYD {
  box-sizing: border-box;
  padding-top: 15px;
  text-align: center;
  height: 80px;
  width: 80px;
  background-color: rgb(234, 53, 45);
  border-radius: 50%;
  width: 160px;
  height: 160px;
  padding-top: 25px;
}
.bMYJEZ {
  max-width: 100%;
  max-height: 100%;
  color: rgb(255, 255, 255);
  display: block;
  height: 24px;
  width: 26px;
  margin: 5px auto 0px;
  width: 60px;
  height: 54px;
  margin-top: 8px;
}
.jsMoaY {
  color: rgb(255, 255, 255);
  font-size: 22px;
}
.fUxJs {
  display: block;
}